.testing {
  /* background-color: red; */
  margin-top: 10%;
  font-size: xxx-large;
}

.menu {
  margin-top: 5%;
  font-size: x-large;
  /* background: linear-gradient(red, orange, yellow, green, blue, purple); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
